n8n-workflows/capitol-trades-workflow.json
[{"createdAt":"2025-03-12T03:12:23.194Z","updatedAt":"2025-03-12T03:20:09.201Z","id":"LaGU4LBxv8ZVRzmP","name":"Capitol Trades API Test","active":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"a6c81f99-b507-41d9-bffb-76be0acb9310","name":"When clicking 'Test workflow'"},{"parameters":{"url":"http://app:3001/","options":{"returnFullResponse":true,"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"3f2e2f38-4133-415e-8f9b-db848c9bc0d2","name":"Test API Connection"},{"parameters":{"conditions":{"number":[{"value1":"={{$node[\"Test API Connection\"].json[\"statusCode\"]}}","operation":"equal","value2":200}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[440,0],"name":"Check Response"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"status","value":"API is healthy"}]}},"type":"n8n-nodes-base.set","typeVersion":2,"position":[660,0],"name":"Success Message"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"error","value":"API Error: ={{$node[\"Test API Connection\"].json[\"statusCode\"]}} - ={{$node[\"Test API Connection\"].json[\"statusMessage\"]}}"}]}},"type":"n8n-nodes-base.set","typeVersion":2,"position":[660,200],"name":"Error Message"}],"connections":{"When clicking 'Test workflow'":{"main":[[{"node":"Test API Connection","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"instanceId":"Capitol Trades Project","description":"Tests the connection to the Capitol Trades API"},"pinData":{},"versionId":"82434a10-a14b-4693-9cae-c25a10c394b2","triggerCount":0,"tags":["api","testing"]},{"createdAt":"2025-03-12T03:02:13.313Z","updatedAt":"2025-03-12T03:02:13.313Z","id":"GD0NSoikA5XpXyq9","name":"Capitol Trades Webhook Handler","active":false,"nodes":[{"parameters":{"path":"77a8e39c-c621-43a8-9851-d30a2700e0d7","options":{"responseMode":"lastNode","responseData":"allEntries"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"4059fa1f-6660-4d9d-b067-b10dd598ba97","name":"Incoming Trade Data","webhookId":"77a8e39c-c621-43a8-9851-d30a2700e0d7"}],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"instanceId":"Capitol Trades Project","description":"Handles incoming webhook requests for new trade data"},"pinData":{},"versionId":"915ac7c4-55aa-43de-ae32-faf82e08f423","triggerCount":0,"tags":["webhook","data-ingestion"]},{"id":"ScheduledTradeCollection","name":"Scheduled Trade Data Collection","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","expression":"*/1"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[0,0],"name":"Every Hour"},{"parameters":{"url":"http://app:3001/trades","options":{"returnFullResponse":true,"timeout":30000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"name":"Fetch Latest Trades"},{"parameters":{"conditions":{"number":[{"value1":"={{$node[\"Fetch Latest Trades\"].json[\"statusCode\"]}}","operation":"equal","value2":200}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[440,0],"name":"Check Response"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"status","value":"Successfully fetched trades"},{"name":"count","value":"={{$node[\"Fetch Latest Trades\"].json[\"body\"].length}}"}]}},"type":"n8n-nodes-base.set","typeVersion":2,"position":[660,0],"name":"Process Success"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"error","value":"Failed to fetch trades: ={{$node[\"Fetch Latest Trades\"].json[\"statusCode\"]}}"}]}},"type":"n8n-nodes-base.set","typeVersion":2,"position":[660,200],"name":"Process Error"}],"connections":{"Every Hour":{"main":[[{"node":"Fetch Latest Trades","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"meta":{"instanceId":"Capitol Trades Project","description":"Fetches new trade data every hour"},"tags":["scheduled","data-collection"]},{"id":"ErrorMonitoring","name":"Health Monitor","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","expression":"*/15"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[0,0],"name":"Every 15 Minutes"},{"parameters":{"url":"http://app:3001/health","options":{"returnFullResponse":true,"timeout":5000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"name":"Health Check"},{"parameters":{"conditions":{"number":[{"value1":"={{$node[\"Health Check\"].json[\"statusCode\"]}}","operation":"equal","value2":200}]}},"type":"n8n-nodes-base.if","typeVersion":1,"position":[440,0],"name":"Check Health Status"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"status","value":"System healthy"},{"name":"timestamp","value":"={{$now}}"}]}},"type":"n8n-nodes-base.set","typeVersion":2,"position":[660,0],"name":"Health OK"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"error","value":"System unhealthy: ={{$node[\"Health Check\"].json[\"statusCode\"]}}"}]}},"type":"n8n-nodes-base.set","typeVersion":2,"position":[660,200],"name":"Health Error"}],"connections":{"Every 15 Minutes":{"main":[[{"node":"Health Check","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"meta":{"instanceId":"Capitol Trades Project","description":"Basic health monitoring of the API"},"tags":["monitoring"]}]